@model LoginViewModel

@{ 

}

<div class="login_form">
    <h1>Login</h1>
    <form class="sign-in-form" asp-controller="Auth" asp-action="Login" method="post">
        <div class="txt_field">
            <input asp-for="UserName" />
            <label>Username</label>
        </div>
        <div>
            <input asp-for="Password" />
            <label>Password</label>
        </div>
        <div>
            <input type="submit" value="Sign In" />
            <p>Still don't have an account?</p>
            <a asp-controller="Auth" asp-action="Register">Sign Up</a>
        </div>
    </form>
</div>
