@{

}

<div class="category-container">
    <a class="post" asp-controller="Home" asp-action="Index" asp-route-category="Travel">
        <img src="../content/static/pexels-photo-1271619.jpeg" alt="Travel" />
        <span class="title">Travel</span>
    </a>

    <a class="post" asp-controller="Home" asp-action="Index" asp-route-category="Programming">
        <img src="../content/static/pexels-photo-546819.jpeg" alt="Programming" />
        <span class="title">Programming</span>
    </a>

    <a class="post" asp-controller="Home" asp-action="Index" asp-route-category="Photography">
        <img src="../content/static/pexels-photo-1051076.jpeg" alt="Photography" />
        <span class="title">Photography</span>
    </a>
</div>
